<main>
  <section class="form-section">
    <img src="/assets/svg/Plus-logo.svg" alt="Logo da Plus" />
    <h2>{{ title }}</h2>
    <ng-content> </ng-content>
    <div class="btn-wrapper">
      <button class="btn-primary">{{ primatyBtnText }}</button>
      <div class="divider">
        <div></div>
        <span> ou </span>
        <div></div>
      </div>
      <button class="btn-secondary">{{ secondaryBtnText }}</button>
    </div>
  </section>

  <section class="main-section">
    <h1 style="display: none">Health Plus</h1>
    <img
      src="/assets/svg/health-plus.svg"
      alt="Logo da Health PLus"
      width="400px"
    />
  </section>
</main>
