@import "../../../styles/variables.scss";

.input-wrapper {
  color: $text-color;
  font-size: 1rem;
  text-align: start;

  label {
    margin-bottom: 0.7rem;
  }

  .input-content {
    display: flex;
    width: 100%;
    border-radius: 0.5rem;

    .icon {
      padding: 1rem;
      border-radius: 0 0.5rem 0.5rem 0;
      background-color: $terciary-color;
      justify-content: center;
      align-items: center;
      display: flex;
      color: #fff;

      img {
        height: 20px;
      }
    }

    input {
      border: none;
      border-radius: 0.5rem 0 0 0.5rem;
      background-color: $gray-secondary-bg;
      width: 100%;
      padding: 0.8rem 0 0.8rem 1.2rem;
      width: 100%;
    }
  }
}
