<app-login-layout
  primatyBtnText="Entre Agora"
  secondaryBtnText="Faça seu cadastro"
  (submit)="submit()"
  (navigate)="navigate()"
  [disabledPrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="seuemail@email.com"
    >
      <img height="20" src="../../../assets/svg/envelope-regular.svg" />
    </app-primary-input>

    <app-primary-input
      formControlName="password"
      type="password"
      label="Sua Senha"
      placeholder="********"
    >
      <img height="20" src="../../../assets/svg/lock-solid.svg" />
    </app-primary-input>
  </form>
</app-login-layout>
