<section class="new-user">
  <app-form-layout
    title="Novo cadastro"
    primatyBtnText="Realizar cadastro"
    secondaryBtnText="Entre agora"
    (submit)="submit()"
    (navigate)="navigate()"
    [disabledPrimaryBtn]="!cadastroForm.valid"
  >
    <form [formGroup]="cadastroForm">
      <app-primary-input
        formControlName="name"
        inputName="name"
        type="text"
        label="Name"
        placeholder="Adriel Health Plus"
      >
        <img height="20" src="../../../assets/svg/user-solid.svg" />
      </app-primary-input>

      <app-primary-input
        formControlName="login"
        inputName="login"
        type="text"
        label="Login"
        placeholder="Adriel123"
      >
        <img height="20" src="../../../assets/svg/envelope-regular.svg" />
      </app-primary-input>

      <app-primary-input
        formControlName="password"
        type="password"
        label="Sua Senha"
        placeholder="********"
      >
        <img height="20" src="../../../assets/svg/lock-solid.svg" />
      </app-primary-input>

      <app-primary-input
        formControlName="passwordConfirm"
        inputName="passwordConfirm"
        type="password"
        label="Confirme sua senha"
        placeholder="********"
      >
        <img height="20" src="../../../assets/svg/lock-solid.svg" />
      </app-primary-input>
    </form>
  </app-form-layout>
</section>
