@import "../../../styles/variables.scss";

.new-nurse {
  width: 50vw;
  margin-top: 2rem;
  padding: 1rem 0;
}
app-primary-input{
  mat-icon{
    color : #fff;
  }
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 2rem;

  @media (max-width: 765px) {
    gap: 0.8rem;
    width: 20rem;
  }

  span {
    font-size: 0.8rem;
    text-decoration: underline;
    color: $terciary-color;
    text-align: end;
  }
}
