<section class="nurse-info">
  <app-form-layout
    title=" Dados de {{ nurseInfo[0].name }}"
    primatyBtnText="Atualizar cadastro"
    (submit)="submit()"
    [disabledPrimaryBtn]="!cadastroForm.valid"
  >
    <form [formGroup]="cadastroForm">
      <app-primary-input
        formControlName="name"
        inputName="name"
        type="text"
        label="Nome"
        placeholder="Adriel Health Plus"
        value="{{ nurseInfo[0].name }}"
      >
        <mat-icon fontIcon="person"></mat-icon>
      </app-primary-input>

      <app-primary-input
        formControlName="birthday"
        inputName="birthday"
        type="date"
        label="Data de nascimento"
        placeholder="11/11/1111"
        value="{{ nurseInfo[0].birthday }}"
      >
        <mat-icon fontIcon="calendar_month"></mat-icon>
      </app-primary-input>

      <app-primary-input
        formControlName="cpf"
        inputName="cpf"
        type="text"
        label="CPF"
        placeholder="123.456.789-10"
        value="{{ nurseInfo[0].cpf }}"
      >
        <mat-icon fontIcon="description"></mat-icon>
      </app-primary-input>

      <app-primary-input
        formControlName="coren"
        inputName="coren"
        type="text"
        label="Coren"
        placeholder="XXXXX-XX/DF"
        value="{{ nurseInfo[0].coren }}"
      >
        <mat-icon fontIcon="description"></mat-icon>
      </app-primary-input>

      <app-primary-input
        formControlName="adress"
        inputName="adress"
        type="text"
        label="Endereço"
        placeholder="Rua etc, 88"
        value="{{ nurseInfo[0].adress }}"
      >
        <mat-icon fontIcon="location_on"></mat-icon>
      </app-primary-input>

      <app-primary-input
        formControlName="phone"
        inputName="phone"
        type="text"
        label="Telefone"
        placeholder="(xx) xxxxx-xxxx"
        value="{{ nurseInfo[0].phone }}"
      >
        <mat-icon fontIcon="call"></mat-icon>
      </app-primary-input>

      <app-primary-input
        formControlName="email"
        inputName="email"
        type="email"
        label="E-mail"
        placeholder="email@email.com"
        value="{{ nurseInfo[0].email }}"
      >
        <mat-icon fontIcon="mail"></mat-icon>
      </app-primary-input>

      <app-primary-input
        formControlName="pix"
        inputName="pix"
        type="text"
        label="Pix"
        placeholder="Chave Pix"
        value="{{ nurseInfo[0].pix }}"
      >
        <mat-icon fontIcon="pix"></mat-icon>
      </app-primary-input>

      <app-primary-input
      formControlName="shift"
      inputName="shift"
      type="number"
      label="Lançar Plantão"
      placeholder="Lançar Plantão"
    >
      <mat-icon (click)="counter() " fontIcon="add-circle"></mat-icon>
    </app-primary-input>

      <app-primary-input
        formControlName="shiftValue"
        inputName="shiftValue"
        type="number"
        label="Valor do Plantão"
        placeholder="Valor do Plantão"
      >
        <mat-icon fontIcon="work"></mat-icon>
      </app-primary-input>

      <app-primary-input
        formControlName="worked"
        inputName="worked"
        type="number"
        label="Plantões Trabalhadas"
        placeholder="x Plantões"
        value="{{ nurseInfo[0].worked }}"
        [disabled]="true"
      >
        <mat-icon fontIcon="work"></mat-icon>
      </app-primary-input>

      <app-primary-input
        formControlName="receive"
        inputName="receive"
        type="number"
        label="À Receber"
        placeholder="R$xx"
        value="{{ nurseInfo[0].receive }}"


      >
        <mat-icon fontIcon="paid"></mat-icon>
      </app-primary-input>
    </form>
  </app-form-layout>
</section>
