@import "../../../styles/variables.scss";

table {
  width: 100%;

  th {
    color: #ec96b2;
  }

  .name {
    width: 80% !important;
  }
}

#table-list {
  width: 90vw;
  margin-top: 2rem;

  .btn-action {
    height: 4vh;
    width: 3rem;
    border-radius: 8px;
    box-shadow: none;
    margin: 3px;
  }

  .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .btn-new-coop {
      border-radius: 0.5rem;
      height: 6vh;
      margin-right: 1rem;
      padding: 1rem;
      justify-content: space-between;
      width: 8.62rem;

      mat-icon {
        margin-right: 0rem;
      }

      span {
        margin-left: -1rem;
      }
    }
  }
}
mat-toolbar {
  background-color: $terciary-bg;
  color: $terciary-color;
  font-weight: bold;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 10%;
}
