<mat-card>
  <mat-toolbar>
    <span class="span">Lista de Tecnicos</span>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let nurse">{{ nurse.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="worked">
      <th mat-header-cell *matHeaderCellDef>Horas Trabalhadas</th>
      <td mat-cell *matCellDef="let nurse">{{ nurse.worked }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="receive">
      <th mat-header-cell *matHeaderCellDef>À Receber</th>
      <td mat-cell *matCellDef="let nurse">{{ nurse.receive }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
