<section id="table-list">
  <div class="search">
    <button mat-fab extended (click)="navigate('new', '')">
      <mat-icon>add_circle</mat-icon>
      <span>Novo Coperado</span>
    </button>
    <mat-form-field color="accent">
      <mat-label>Procurar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Luna" #input />
    </mat-form-field>
  </div>
  <div class="mat-elevation-z3">
    <mat-toolbar>
      <span>Cooperados</span>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource">
      <!-- ID Column -->
      <ng-container matColumnDef="name">
        <th class="name" mat-header-cell *matHeaderCellDef>Nome</th>
        <td class="name" mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="worked">
        <th mat-header-cell *matHeaderCellDef>Horas Trabalhadas</th>
        <td mat-cell *matCellDef="let row">{{ row.worked }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="receive">
        <th mat-header-cell *matHeaderCellDef>À Receber</th>
        <td mat-cell *matCellDef="let row">{{ row.receive }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="navigate('info', row.id)"  *matRowDef="let row; columns: displayedColumns"> </tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Nenhum dado encontrado com a busca: "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</section>
